#head
{
width: auto;
height: 150px;
background-color: #092D44;
font-size: 48px;
font-family: "Arial";
align-items: center;
justify-content: space-around;
display: flex;
}
.hover
{
flex-direction: row;
display: flex;
margin: 0px;
}
.hover:hover,.overlay:hover, .overlay2:hover{
 opacity: 0;
}
#graph
{
max-width: 100%;
display: block;
}
#write
{
max-width: 100%;
display: block;
}
#about
{
height: 286px;
width: auto;
border-width: thick;
border-color: ;
border-style: solid;
flex-direction: row;
display: flex;
}
a{
text-decoration: none;
color: white;
text-align: center;
}
#log{
height: 250px;
width: 200px;
}
#contact {
width: auto;
height: 150px;
background-color: #092D44;
font-family: "Arial";
align-items: center;
justify-content: space-around;
display: flex;
color: white;
}
.help{
font-size: 18px;
position: relative;
right: -50px;
}
#me {
font-family: "Arial";
font-size: 48px;
display: flex;
align-self: center;
font-weight: 100;
}
#h {
flex-direction: column;
display: flex;
}
#50{
width: 50%;
height: auto;
}
#502{
width: 50%;
height: auto;
}
#headie {
justify-content:center;
font-family: "Arial";
display: flex;
}
#gragal{
flex-direction: row;
display: flex;
}
body {
background-color: #55677F;
}
#head2{
justify-content:center;
font-family: "Arial";
display: flex;
}
.overlay .overlay2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.text .text2 {
transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
color: white;
position: absolute;
font-size: 20px;
top: 50%;
  left: 50%;
}
.change:hover{
background-color: gray;
-webkit-transition:background-color 1s;
}
.change{
width: 200px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
}
.text, .text2 {
position: relative;
top:-500px;
visibility: collapse;
}
